@{
    ViewBag.Title = "MBI Prime Numbers";
}



<div class="container">
    <div class="card">
        <div class="card-body">
            <form method="post" action="@Url.Action("GetMyList")">
                <div class="form-group">
                    <label class="text-primary font-weight-bold" >Enter  a limited number for primay numbers requested</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="numberLimit" id="numberLimit" placeholder="Enter  Number ">
                    
                </div>
                 
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>
        <div class="card-footer">
            @if (ViewBag.Primes !=null)
            {
                <div class="row col-12">    
                    <h3 class="text-info">
                        Your Result Are:<br/>
                    </h3>
                    <h2 class="text-success">
                        @ViewBag.Primes
                    </h2>
                   
                </div>

            }
        </div>
    </div>
</div>
 