@{
    ViewBag.Title = "MBI Prime Numbers";
    bool? status = null;
    if (ViewBag.Status != null)
    {
        status = ViewBag.Status;
    }

}
@model string



<div class="container">
    <div class="card">
        <div class="card-body">
            <form method="post" action="@Url.Action("GetMyList")" id="myForm">
                <div class="form-group">
                    <label class="text-primary font-weight-bold" >Enter a number for list of prime numbers up to that number</label>
                    <input type="number" maxlength="6" class="form-control" 
                           name="numberLimit" id="numberLimit" placeholder="Enter  Number ">
                    
                </div>
                 
                <button type="submit"  id="submit"class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>
        <div class="card-footer">
            @if (status == true)
            {
                <div class="row col-12">
                    <h3 class="text-info">
                        Your Result Are:<br />
                    </h3>
                    <h2 class="text-success">
                        @Model
                    </h2>

                </div>

            }
            else if (status == false)
            {
                <div class="row col-12">
                    <h3 class="text-info">
                        Sorry Error has happened or you enter invalid number<br />
                    </h3>
                    

                </div>
            }
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(function () {
            debugger;
            if ('@status'==='True') {

                $.notify("Result Ready", "success");
            }

            $('#submit').click(function() {
               
                var val = $('#numberLimit').val();
                if (isNaN(val)) {
                    swal("Please Enter a valid number!");
                    event.preventDefault();
                    return;
                } else {
                    if (val > 1000000) {
                        swal("Please Enter a smaller number!");
                        event.preventDefault();
                        return;
                    }
                }

                $('#myForm')[0].submit();

            });

        });

    </script>
}
